body {
    font-family: 'Kalam', cursive;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.pink-color {
    color: palevioletred;

}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;

}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 112, 114), pink);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Clamp {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mc-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.character-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px pink;
    border-left: 7px solid palevioletred;
}

#kinomoto-sakura {
    border-left: 7px solid tomato;
}

footer p {
    text-align: center;
}